.home {
    width: 100%;
    &__list {
        margin-top: 20px;
        list-style: none;
    }
    &__card {
        max-width: 255px;
        padding: 25px 20px;
        background: #F0F9FF;
        border-radius: 8px;
        &-title {
            margin: 15px 0 10px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #6C6C6C;
        }
        &-number {
            display: block;
            text-align: right;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            text-transform: uppercase;
            color: #000000;
        }
    }
}